
#Claude
.claude
CLAUDE.md

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env

writable/logs
writable/session
uploads/

# Visual Studio Code
.vscode/

